@import '../../vars.css';

.section {
	position: relative;
}

.imgContainer {
	position: absolute;
	left: -80px;
	bottom: -120px;
}

.imgContainer img {
	opacity: 0.6;
}

.cardsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10rem;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 15rem;
}

.card .pic {
	height: 18rem;
}

.card .pic {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	border-radius: 8px;
}

.img1 {
	background: url('../../images/lp.jpg') no-repeat center center/cover;
}

.img2 {
	background: url('../../images/onepage.jpg') no-repeat center center/cover;
}
.img3 {
	background: url('../../images/multipage.jpg') no-repeat center center/cover;
}

.title {
	margin: 10px 0 0;
	padding: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.582);
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
}

.card .price {
	position: absolute;
	bottom: 30px;
	left: 15px;
	color: var(--accent-color);
	font-size: 1.6rem;
}

.content {
	position: relative;
	font-size: 1.25rem;
	padding: 1rem;
	padding-top: 4rem;
	background: #0c161f;
	color: white;
	margin-top: -1rem;
	border-radius: 8px;
	height: 33rem;
}

.card:hover {
	transform: scale(1.1);
	transition: transform 0.3s linear ;
}

.card:not(:hover) {
	transform: scale(1) ;
	transition: transform 0.3s linear ;
}

.bottomLine {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	border-radius: 0 0 8px 8px;

}

.cardBox:nth-child(1) .bottomLine {
	background: #2196f3;
}

.cardBox:nth-child(2) .bottomLine {
	background: #e91e63;
}

.cardBox:nth-child(3) .bottomLine {
	background: #23c186;
}

@media screen and (min-width: 1024px) {
	.cardsContainer {
		align-items: start;
		flex-wrap: wrap;
		gap: 2.5rem;
		flex-direction: row;
	}
	.img {
		width: 30rem;
	}
}

@media screen and (max-width: 328px) {
	.content {
		height: 40rem;
	}
}

@media screen and (min-width: 328px) {
	.card {
		width: 20rem;
	}
}

@media screen and (min-width: 500px) {
	.card {
		width: 30rem;
	}

	.content {
		height: 28rem;
	}
}
