.squares {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.squares li {
	position: absolute;
	display: block;
	list-style: none;
	width: 1.25rem;
	height: 1.25rem;
	background: transparent;
	animation: animate 25s linear infinite;
	bottom: -150px;
	border: 1px solid rgba(255, 217, 0, 0.774);
}

.squares li:nth-child(1) {
	left: 25%;
	width: 5rem;
	height: 5rem;
	animation-delay: 0s;
}

.squares li:nth-child(2) {
	left: 10%;
	width: 1.25rem;
	height: 1.25rem;
	animation-delay: 2s;
	animation-duration: 12s;
}

.squares li:nth-child(3) {
	left: 70%;
	width: 1.25rem;
	height: 1.25rem;
	animation-delay: 4s;
}

.squares li:nth-child(4) {
	left: 40%;
	width: 3.75rem;
	height: 3.75rem;
	animation-delay: 0s;
	animation-duration: 18s;
}

.squares li:nth-child(5) {
	left: 65%;
	width: 1.25rem;
	height: 1.25rem;
	animation-delay: 0s;
}

.squares li:nth-child(6) {
	left: 75%;
	width: 7rem;
	height: 7rem;
	animation-delay: 3s;
}

.squares li:nth-child(7) {
	left: 35%;
	width: 11rem;
	height: 11rem;
	animation-delay: 7s;
}

.squares li:nth-child(8) {
	left: 50%;
	width: 2rem;
	height: 2rem;
	animation-delay: 15s;
	animation-duration: 45s;
}

.squares li:nth-child(9) {
	left: 20%;
	width: 1rem;
	height: 1rem;
	animation-delay: 2s;
	animation-duration: 35s;
}

.squares li:nth-child(10) {
	left: 85%;
	width: 10rem;
	height: 10rem;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 20%;
	}
}
