.card {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 3rem;
	width: 90%;
	
	background-color: #1b2028;
	border-radius: 10px;
	position: relative;
	border: 3px solid transparent;
    gap: 1rem;
	background-clip: padding-box;
	text-align: center;
	color: #f1f3f3;
    overflow: hidden;
	
}

