@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.content-container {
		max-width: 1800px;
		margin: 0 auto;
		padding: 8rem 1.2rem;
	}

	.footer-container {
		max-width: 1800px;
		margin: 0 auto;
		padding: 2rem 1.2rem;
	
	}

	.button-a-main {
		display: block;
		width: min-content;
		background: #cfa304;
		color: white;
		border-radius: 5px;
		transition: 0.5s;
		text-transform: uppercase;
		font-weight: 600;
		padding: 0.8rem 5rem;
		font-size: 1.6rem;
		cursor: pointer;
	}

	.button-a-main:hover {
		background: #2002a1;
	}

	.button-main {
		position: relative;
		background: #cfa304;
		color: white;
		border-radius: 5px;
		transition: 0.5s;
		text-transform: uppercase;
		font-weight: 600;
		padding: 0.8rem 6rem;
		font-size: 1.6rem;
	}

	@media screen and (max-width: 768px) {
		.button-main {
			padding: 0.8rem 3rem;
		}
	}

	.button-main:hover {
		background: rgb(33, 2, 170);
	}
	.button-main::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		background-image: linear-gradient(
			to right top,
			#3002af,
			#05039b,
			rgb(7, 40, 187),
			#0324b4,
			rgb(24, 10, 145)
		);
		border-radius: 7px;
	}

	ul :focus {
		color: #cfa304 !important;
	}

	ul :active {
		color: #cfa304 !important;
		background: none !important;
	}
}

html {
	scroll-behavior: smooth;
}



body {
	font-family: 'League Spartan Variable', sans-serif;
}

body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: black;
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(75, 75, 75);
	outline: 1px solid rgb(29, 28, 27);
	border-radius: 4px;
}


